<div class="row">
    <div class="col-xs-6 col-md-4">Vocabulary Tutor!!!</div>
    <div class="col-xs-2 col-md-2"><a href="/dict">Словарь</a></div>
    <div class="col-xs-2 col-md-2"><a href="/test">Тестирование</a></div>
    <div class="col-xs-2 col-md-2"><a href="/stat">Статистика</a></div>
    <div class="col-xs-2 col-md-2"><a href="/user">Личный кабинет</a></div>
</div>