<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Добро пожаловать на страницу <%= title %> - лучшего приложения в помощь репетитору английского языка!</p>
  </body>
</html>